<div class="container">
    <div>
        <h2>Edzésterv</h2>
        <form (ngSubmit)="onSubmit()" #planForm="ngForm">
            <div class="form-group">
                <label for="time">Add meg az időpontot:</label>
                <input type="date" id="time" name="time" required >
            </div>
            <div class="form-group">
                <label for="name">Az edzés típusa</label>
                <input list="plans" id="name" required >
                <datalist id="plans">
                    <option value="Hambi"></option>
                    <!-- TODO opciók a szerverről -->
                </datalist>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!planForm.form.valid">Naplózás</button>
        </form>
    </div>

  <div [hidden]=!submitted>
    <h2>Az edzés adatai:</h2>
    <table class="table table-hover" >

      <thead>
      <tr>
        <th scope="col">Időpontja</th>
        <th scope="col">Típusa</th>
        <th scope="col">Mennyiség</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of allTranings">
        <td>{{ item.name }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.address.street }} street</td>
        <td>{{ item.address.geo.lat }} lat</td>
        <td>{{ item.address.geo.lng }} lng</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button (click)="getAllTrainingPlans()">GeccccccOOOO</button>
</div>
