<div class="container">
    <div [hidden]="submitted">
        <h2>Elfogyasztott étel:</h2>
        <form (ngSubmit)="onSubmit()" #mealForm="ngForm">
            <div class="form-group">
                <label for="name">Az étel neve:</label>
                <input list="meals" id="name" required [(ngModel)]="meal.name" name="name" #name="ngModel">
                <datalist id="meals">
                    <option value="Hambi"></option>
                    <option value="Kenyér"></option>
                    <option value="Sültkrumpli"></option>
                </datalist>
            </div>
            <div class="form-group">
                <label for="time">Időpont:</label>
                <input type="date" id="time" name="time" required [(ngModel)]="meal.time" name="time" #time="ngModel">
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!mealForm.form.valid">Naplózás</button>
        </form>
    </div>

    <div [hidden]=!submitted>
        <h2>Ezt etted:</h2>
        <div class="row">
            <div class="col-xs-3">Neve:</div>
            <div class="col-xs-9  pull-left">{{ meal.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Időpont:</div>
            <div class="col-xs-9  pull-left">{{ meal.time }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Tápértéke:</div>
            <div class="col-xs-9  pull-left">{{ meal.kcal }} kCal</div>
        </div>
    </div>
</div>