<mat-toolbar>
  <div class="container">
    <h1>Bejelentkezés</h1>
  </div>
</mat-toolbar>
<img src="../../../assets/Mafunzo.png" alt="">
<mat-card>
  <mat-card-content>
    <div class="loginContainer">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Felhasználónév</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit" class="btn btn-primary">Bejelentkezés</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
