<!--<div style="text-align:center">-->
  <!--&lt;!&ndash;<img width="210" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">&ndash;&gt;-->
  <!--<img width="480 " alt="Angular Logo" src="../assets/Mafunzo.png">-->
<!--</div>-->

<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-list *ngIf="!userLoggedIn">
      <mat-list-item routerLink="/register" routerLinkActive="active">Regisztráció</mat-list-item>
      <mat-list-item routerLink="/login" routerLinkActive="active">Bejelentkezés</mat-list-item>
    </mat-list>
    <mat-list *ngIf="userLoggedIn">
      <mat-list-item><div><img src="../assets/Mafunzo.png" class="brand-logo" alt=""></div></mat-list-item>
      <mat-list-item routerLink="/user" routerLinkActive="active">Adatok</mat-list-item>
      <mat-list-item routerLink="/meals" routerLinkActive="active">Étkezés</mat-list-item>
      <mat-list-item routerLink="/training" routerLinkActive="active">Edzéstervek</mat-list-item>
      <mat-list-item routerLink="/recipes" routerLinkActive="active">Receptek</mat-list-item>
      <mat-list-item (click)="this.logout()" class="logout">Kijelentkezés</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="navigation">
      <ul *ngIf="!userLoggedIn">
        <li routerLink="/register" routerLinkActive="active">Regisztráció</li>
        <li routerLink="/login" routerLinkActive="active">Bejelentkezés</li>
      </ul>
      <ul *ngIf="userLoggedIn">
        <li><img src="../assets/Mafunzo.png" alt=""></li>
        <li routerLink="/user" routerLinkActive="active">Adatok</li>
        <li routerLink="/meals" routerLinkActive="active">Étkezés</li>
        <li routerLink="/training" routerLinkActive="active">Edzéstervek</li>
        <li (click)="this.logout()" class="logout">Kijelentkezés</li>
      </ul>
    </nav>
    <button mat-button (click)="sidenav.toggle()" class="mobileMenu"><mat-icon>menu</mat-icon></button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


