<mat-toolbar>
  <div class="container">
    <h1>Regisztráció</h1>
  </div>
</mat-toolbar>
<img src="../../../assets/Mafunzo.png" alt="">
<mat-card>
  <mat-card-content>
    <div class="registrationContainer">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Felhasználónév</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Magasság</mat-label>
          <input matInput formControlName="height">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Súly</mat-label>
          <input matInput formControlName="weight">
        </mat-form-field>
        <input type="hidden" formControlName="enabled">
        <button mat-stroked-button color="primary" type="submit" class="btn btn-primary">Regisztráció</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
