<mat-toolbar>
  <div class="container">
    <h1>Regisztráció</h1>
  </div>
</mat-toolbar>
<img src="../../../assets/Mafunzo.png" alt="">s
<mat-card>
  <mat-card-content>
    <div class="registrationContainer">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email cím</mat-label>
          <input matInput placeholder="" formControlName="userName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Magasság</mat-label>
          <input matInput placeholder="Password" formControlName="userHeight">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Súly</mat-label>
          <input matInput placeholder="Password" formControlName="userWeight">
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit" class="btn btn-primary">Regisztráció</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
