<div class="container">
    <div>
        <h2>Elfogyasztott étel:</h2>
        <form [formGroup]="mealForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Az étel neve:</label>
                <input list="name" id="meals" class="form-control" formControlName="name">
                <datalist id="name">
                    <option *ngFor="let meal of allAvailableMeals" data-value="{{meal.name}}" value="{{meal.id}}"></option>
                </datalist>
            </div>
            <div class="form-group">
                <label for="time">Időpont:</label>
                <input type="date" class="form-control" formControlName="time" id="time" name="time">
            </div>

            <button type="submit" class="btn btn-success">Naplózás</button>
        </form>
    </div>

    <chart-component [datapoints]="dailyMealsForDiagram"></chart-component>
</div>