<h1>Register user</h1>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-group">
    <label for="userRegisterEmailInput">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="username" name="username" id="userRegisterEmailInput" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="userRegisterPasswordInput">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" id="userRegisterPasswordInput" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="userRegisterHeightInput">Height</label>
    <input type="password" class="form-control" [(ngModel)]="height" name="height" id="userRegisterHeightInput" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="userRegisterWeightInput">Weight</label>
    <input type="password" class="form-control" [(ngModel)]="weight" name="weight" id="userRegisterWeightInput" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
