<mat-toolbar>
  <div class="container">
    <h1>Profilod</h1>
  </div>
</mat-toolbar>
<div class="container">
  <mat-card class="quote">
    <mat-card-content>
      <p>{{quote.qoute}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Adataid</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm" [hidden]="!editing">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Név</mat-label>
            <input matInput type="text" [(ngModel)]="user.username" name="name" #name="ngModel" required>
            <!--<mat-error *ngIf="email.invalid || name.pristine">Kitöltendő!</mat-error>-->
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Súly</mat-label>
            <input matInput type="text" [(ngModel)]="user.weight" name="name" #name="ngModel" required>
            <!-- <mat-error *ngIf="weight.invalid || name.pristine">Kitöltendő!</mat-error> -->
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Magasság</mat-label>
            <input matInput type="text" [(ngModel)]="user.height" name="height" #height="ngModel">
            <!-- <mat-error *ngIf="height.invalid || name.pristine">Kitöltendő!</mat-error> -->
          </mat-form-field>
        </div>

        <button mat-stroked-button color="primary" type="submit" class="primary" [disabled]="!userForm.form.valid">Módosítás</button>
      </form>
      <div [hidden]="editing">
        <mat-list>
          <mat-list-item>
            <h4 mat-line>Felhasználó név</h4>
            <p mat-line> {{ user.username }} </p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Súlyod</h4>
            <p mat-line> {{ user.weight }} </p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Magasságod</h4>
            <p mat-line> {{ user.height }} </p>
          </mat-list-item>
        </mat-list>
        <button mat-stroked-button color="primary" class="primary" (click)="editing=true">Szerkesztés</button>
      </div>
      <br>
      <mat-divider></mat-divider>
      <div>
        <mat-list>
          <mat-list-item>
            <h4 mat-line>BMI Index</h4>
            <p mat-line> {{BMI | number}} </p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
